:root {
  --var-background: #fff;
  --var-background-alt: #fbfbfb;
  --var-background-med: #f5f5f7;
  --var-background-dark: #000;
  --var-text-dark: #1d1d1e;
  --var-text-light: #f5f5f7;
  --var-text-alt: #86868b;
  --var-text-med: #515253;
  --var-light: #DADDD8;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--var-background);
  color: var(--var-text-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

#root,
.app {
  width: 100%;
  height: 100%;
}

/* Containers */
.web-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.web-container__dark {
  background: var(--var-background-dark);
  color: var(--var-text-light);
}

.web-container__alt {
  background: var(--var-background-alt);
}

.web-container__med {
  background-color: var(--var-background-med);
}

.container {
  border-radius: 0.25rem;
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: none !important;
  margin-bottom: 10px;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.container-grid__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
}

.grid__item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-light-bg {
  background: var(--var-background-alt);
}

.container-dark-bg {
  background: var(--var-background-dark);
}

.no-shadow {
  box-shadow: none !important;
}

.mw-700 {
  max-width: 700px;
}

@media screen and (min-width: 768px) {
  .container-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Typography */
.header {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: .8rem;
  text-align: center;
  width: 100%;
}

.subheader {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: .8rem;
}

.p-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.text-light {
  color: var(--var-text-light) !important;
}

.text-dark {
  color: var(--var-text-dark) !important;
}

.text-med {
  color: var(--var-text-med) !important;
}

@media screen and (min-width: 768px) {
  .header {
    font-size: 48px;
  }

  .p-text {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1068px) {
  .subheader {
    font-size: 40px;
  }

  .header {
    font-size: 56px;
  }

  .p-text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .subheader {
    font-size: 48px;
  }

}

/* Links */
.link {
  color: #06c !important;
}

#about,
#skills,
#projects,
#contact,
#hero {
  scroll-margin-top: 100px;
}

/* Buttons */
.btn {
  background: var(--var-background-alt);
  border: none;
  border-radius: 0.25rem;
  color: var(--var-text-dark);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}