/* Experience Item */
.experience-item__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    max-width: 1400px;
}

.experience-item {
    position: relative;
    display: inline-block;
    /* margin: 10px; */
    overflow: hidden;
}

.experience-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.experience-item-img {
    transition: all 0.3s;
    object-fit: contain !important;
    width: 100%;
}

.experience-item-img.hovered {
    cursor: pointer;
}

.experience-item-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s 0.3s;
    font-weight: 700;
}

.experience-item:hover .experience-item-details {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s;
}

.experience-item-details__header {
    font-weight: 700;
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
}

.experience-item-details__p {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
    margin: .5rem 0;
}

.experience-item-details__link {
    font-size: 1.1rem;
    margin: 0;
}

.experience-item-details__link-icon {
    font-size: 1rem;
}

.experience-item-details.show {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .experience-item-details__header {
        font-size: 1.6rem;
    }

    .experience-item-details__p {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1240px) {
    .experience-item__container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .experience-item-details__header {
        font-size: 1.8rem;
    }

    .experience-item-details__p {
        font-size: 1.2rem;
    }
}